:root {
  --font: "Epilogue";
  --black: black;
  --light-black: #242424;
  --gray: #4D4D4D;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--font);
}

html {
  font-size: 20px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subscribe-container form {
  padding: 1.75rem;
  background: linear-gradient(217.2deg, #4D4D4D 1.39%, #262626 99.08%);
  box-shadow: 0px 8px 16px rgba(45, 45, 45, 0.3);
  font-size: 0.7rem;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
}
.subscribe-container form div {
  display: flex;
}
.subscribe-container form p {
  font-weight: 600;
  line-height: 128%;
  color: var(--white);
  margin-bottom: 0.5rem;
}
.subscribe-container form input {
  padding: 0.5rem 1.4rem;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 14.5px;
  line-height: 128%;
}
.subscribe-container form input[type=email] {
  background-color: var(--white);
  color: var(--light-black);
  border-radius: 0.4rem 0 0 0.4rem;
  width: 100%;
}
.subscribe-container form input[type=submit] {
  background-color: var(--black);
  color: var(--white);
  border-radius: 0 0.4rem 0.4rem 0;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
  gap: 1rem;
}
header .logo-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.2rem;
}
header .menu-container ul {
  display: flex;
  gap: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
header .menu-container ul a {
  color: var(--black);
}

footer {
  position: relative;
  padding-top: 80px;
}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8%;
}
footer .title-page {
  font-weight: 700;
  font-size: 100px;
  line-height: 128%;
  color: #202020;
  opacity: 0.03;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: -1;
}
footer .menu-list {
  display: flex;
  gap: 120px;
}
footer .menu-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
footer .menu-list li:first-child {
  margin-bottom: 0.6rem;
}
footer .menu-list b {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 128%;
  color: #202020;
}
footer .menu-list a {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 128%;
  color: #545454;
}
footer .copiright-container {
  padding-top: 1.8rem;
  padding-bottom: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 128%;
  color: #656565;
}
footer .copiright-container img {
  margin-right: 0.2rem;
}/*# sourceMappingURL=app.css.map */